.itens-registration{
    display: flex;
    justify-content: space-between;

}
.itens-registration img{
    width: 70%;
    height: auto;
}
.registration-text{
    position: absolute;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(44, 42, 42, 0.603);
    margin-top: 15%;
    padding: 5rem 0 5rem 0; 
    border-radius: 0 2rem 2rem 0;
}
.registration-text p{
    margin: 1rem;
}
.text-record{
    visibility: hidden;
}
.fields-registration{   
    width: 35%;
    height: 15.60rem;
    margin-top: 15%;

    align-items: center;
    flex-direction: column;

    display: flex;
    justify-content: center;
}

.fields-registration h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.fields-registration img{
    width: 8rem;
}
.input-fields{
    display: flex;
    flex-direction: column;

}
.input-fields input{
    border-radius: 3rem;
    border: 1px solid var(--color-input);
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;
}
.input-fields button{
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3rem;
}

@media only screen and (max-width: 1250px){
    .itens-registration > img{
        position: absolute;
        z-index: -1;
        width: 100%;
        margin-top: 0%;
    }

    .itens-registration{
        display: flex;
        justify-content: center;

        position: relative;
        z-index: 1;

    }
    
    .fields-registration {
        background-color: rgba(153, 149, 149, 0.438);
        padding: 10rem 0 20rem 0; 
        border-radius: 5rem;
    }
    
    .fields-registration img{
        margin-top: 10rem;
    }
    
    .fields-registration h1{
        margin-top: 1rem;
    }
    
    .registration-text{
        visibility: hidden;
    }
}

@media only screen and (max-width: 1100px){
    .fields-registration{   
        background-color: rgba(153, 149, 149, 0.438);
        padding: 13rem 0 20rem 0;
        margin-top: 10vh;
        width: 30vw; 
        border-radius: 5rem;
    }
}

@media only screen and (max-width: 1050px){
    .fields-registration{   
        margin-top: 5vh;

    }
}

@media only screen and (max-width: 970px){
    .fields-registration{   
        margin-top: 0vh;
        border-radius: 0%;
        width: 50%;
        padding: 25% 0 42% ;
    }
}

@media only screen and (max-width: 780px){
    .fields-registration{   
        margin-top: 0vh;
        top: 0%;
        padding-top: 20%;
        padding-bottom: 47%;

    }
}
@media only screen and (max-width: 650px){
    .fields-registration img{
        margin-top: 1%;
    }

    .fields-registration{   
      margin-top: 30%;
      padding: 15rem 0;
      border-radius: 3rem;
      width: 70%;
    }

    .itens-registration > img{
        visibility: hidden;
    }
}
@media only screen and (max-width: 540px){
    .fields-registration{   
      margin-top: 10%;
      margin-bottom: 10%;
    }

}
@media only screen and (max-width: 375px){
    .fields-registration{   
      margin-top: 10%;
      margin-bottom: 10%;
    }

}
@media only screen and (max-width: 280px){
    .fields-registration{   
      width: 90%;
    }

}