*, *::before, *::after{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-primary: rgb(203,86,22);
    --color-secondary: rgb(254, 204, 22);
    --color-underline: rgba(255, 94, 7, 0.849);

    --text-color: rgb(255, 255, 255);
    --text-color2: rgb(0,0,0);
    
    --card-record-color: rgba(44, 42, 42, 0.603);

    --color-input: rgb(0,0,0);
    --color-input-mobile: rgba(107, 93, 93, 0.24);

    --color-background-modal: rgba(78, 74, 74, 0.829);
    --color-modal: rgb(255, 255, 255);

    --rodape-color-text: rgb(255, 255, 255);
}

body{
    overflow-x: hidden; 
}

body::-webkit-scrollbar{
    width: 1px;

    background: var(--color-primary) ;

    border-radius: 20px;
    border: 30px  var(--color-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

h1{
    font-size: 2rem;
    font-weight: 500;
}

h2, h3{
    font-size: 2rem;
    font-weight: 400;
}

p{
    font-size: 1.2rem;
    font-weight: 300;
}

a{
    font-weight: 400;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    bottom: 0;
    flex: 1;
}