.sec-initial .container{
    display: flex;
    justify-content: space-between;
}
.text-initial{
    padding: 5rem 0 0 4rem;
}
.text-initial p{
    width: 60%;
}
.animation-initial{
    padding: 2rem 0 0 4rem;
    width: 800px;
}
/*sec-initial*/

/*sec-meet*/
.sec-meet .container, .meet-content{
    display: flex;
    justify-content: center;
}
.meet-content{
    margin: auto;
    text-align: center;
    gap: 5rem;
    margin-bottom: 5rem;
}
.meet-turing{
    width: 30%;
}
.meet-pitagoras{
    width: 30%;
}
.meet-newton{
    width: 30%;
}
.title-meet{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

.meet-imgs{
    width: 18rem; 
    height: 18rem;

    border-radius: 20rem;
    margin-bottom: 2rem;
    object-fit: cover;
}
.meet-content h3{
    margin-bottom: 2rem;

}

/*Responsividade*/
@media only screen and (max-width: 1200px){
    .text-initial p{
        width: 100%;
    }
    .animation-initial{
        padding: 5rem 0 0 4rem;
        width: 500px;
    }
    
    .sec-meet .container, .meet-content{
        flex-direction: column;
        
    }

    .title-meet{
        margin-top: 5rem;
    }
    

    .meet-content{
        text-align: center;
        align-items: center;
    }
    
    .meet-turing{
        width: 90%;
    }

    .meet-pitagoras{
        width: 90%;
    }

    .meet-newton{
        width: 90%;
    }
}
@media only screen and (max-width: 850px){
    .sec-initial .container{
        display: block;
        flex-direction: column;
    }
    
.text-initial{
    text-align: center;
    align-items:center;
    width: 90%;
}
.animation-align{
    justify-content: center;
    display: flex;
}
.animation-initial{
    width: 500px;
}
}